@media (max-width: 1100px) {
  .header-container {
    padding-right: 0px;
  }
}
@media (max-width: 1400px) {
  .header-container {
    padding-inline: 30px;
  }
  .main-container {
    padding-inline: 0;
  }
  .hero1 {
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .hero1-img {
    margin-bottom: 310px;
    margin-right: 890px;
  }
  .main_desc {
    padding-bottom: 0px;
  }
  .hero2 {
    align-items: center;
  }
  .cards {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .hero3 {
    flex-direction: column;
    margin-top: 20;
  }
  .hero3-desc {
    align-items: center;
    text-align: center;
  }
  .main_desc {
    align-items: center;
  }
  .buttons {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 1000px) {
  .header-container {
    position: relative;
  }
  .navbar {
    display: none;
    width: 90%;
    position: absolute;
    top: 88px;
    left: 5%;
    background: #079;
    padding: 32px 0px;
  }
  .navbar .nav_links {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .iks {
    display: flex;
  }
  .active {
    display: block;
  }
}
@media (max-width: 750px) {
  .hero3-img {
    height: 300px;
    width: 300px;
  }
}
